<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hey Raj</h2>
    <h4><%= @user.name %> has joined Grassy!</h4>
  </body>
</html>