<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hey <%= @user.name %>,</h2>
    <h4>hanks for joining Grassy!</h4>
    <hr>
    <p>Grassy Wellness Society wants to ensure members have access and availability to safe, affordable cannabis products for medical purposes.</p>
    <hr>
    <p><strong>If you have any questions, feel free to call us: +1 778 836 8819 or email us: hello@grassy.ca</strong></p>
  </body>
</html>