<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-group">
    <%# f.input :pay_type %>
    <%= f.select :pay_type, Order::PAYMENT_TYPES,
    			 prompt: "Select a payment mathod", class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit do %>
    	<i class="fa fa-check" aria-hidden="true"></i> Submit Order
    <% end %>
  </div>
<% end %>
