<div class="container" style="margin-bottom: 280px;">
	<div class="row">
		<div class="col-md-6 col-md-offset-3" style="margin-top: 30px;">
			<fieldset>
				<legend style="border-bottom: 1px solid #ccc;">
					Please Select a Payment Method
				</legend>

				<%= render 'form' %>
			</fieldset>
		</div><!-- end col-md-12 -->
	</div><!-- end row -->
</div><!-- end container-->

<%= render 'pages/footer' %>