<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h3>REACH US AT</h3>
				<h5><i class="fa fa-phone" aria-hidden="true"></i> +1 778 GRASSY</h5>
				<h5><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</h5>
			</div><!-- end col-md-3 -->
			<div class="col-md-3">
				<h3>FOLLOW US ON</h3>
				<h5><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</h5>
				<h5><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</h5>
				<h5><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</h5>
			</div><!-- end col-md-3 -->
			<div class="col-md-3">
				<h3>CATEGORIES</h3>
					<% @categories.each do |category| %>
						<h5><%= category.name %></h5>
					<% end %>
			</div><!-- end col-md-3 -->
			<div class="col-md-3">
				<h3>OTHERS</h3>
				
			</div><!-- end col-md-3 -->
		</div><!-- end row -->
	</div><!-- end container -->
</footer>