<footer style="margin-top: 70px;">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3>REACH US AT</h3>
				<!--<h5><i class="fa fa-phone" aria-hidden="true"></i> +1 778 836 8819</h5>-->
				<h5><i class="fa fa-envelope-o" aria-hidden="true"></i> hello@grassy.ca</h5>
				
			</div><!-- end col-md-3 -->
			<div class="col-md-4">
				<h3>FOLLOW US ON</h3>
				<a href="https://www.facebook.com/Grassy-503666769842989/" target="_blank"><h5><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</h5></a>
				<!--<h5><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</h5>-->
				<a href="https://instagram.com/grassywellnesssociety/" target="_blank"><h5><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</h5></a>
			</div><!-- end col-md-3 -->
			<div class="col-md-4">
				<h3>TERMS &amp; POLICIES</h3>
				<h5><%= link_to "Privacy Policy", privacy_policy_path %></h5>
				<h5><%= link_to "Delivery Policy", delivery_policy_path %></h5>
				<h5><%= link_to "Terms of Service", terms_of_service_path %></h5>
			</div><!-- end col-md-3 -->
		</div><!-- end row -->
	</div><!-- end container -->
</footer>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80194299-1', 'grassy.com');
  ga('send', 'pageview');

</script>