<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3><strong>Delivery Policy</strong></h3>
			<hr>
			<p>(If we decide to change this policy, we will post the changes on this page.)</p>
			<p>We have selected TextMary.ca as our delivery service provider wherever they operate.</p>
			<p>As soon as you place your order you are given an ETA for a delivery time, or confirmation if you have chosen a specific available time and date.</p>
			<p>If you are too far&hellip;we will mail it.</p>
			<p>We charge whatever the POSTAL company charges, and will advise once we know your location.&nbsp; If the POSTAL company is not on strike it should be there in 1-3 days depending on where you live.</p>
			<p>We do require signature, and verification of ID to make sure you are who you say you are.</p>
			<p>&nbsp;</p>
			<h4><strong>Returns</strong></h4>
			<hr>
			<p>We will accept returns of unopened products within 30 days of purchase.</p>
			<p>If you return it, chances are it&rsquo;s no good, if it&rsquo;s no good, then something went wrong! Contact us immediately at <a href="mailto:returns@grassy.ca">returns@grassy.ca</a></p>
			<p>We will offer a credit at our discretion after reviewing the circumstances.</p>
			<br>
			<h4><strong>Refunds (if applicable)</strong></h4>
			<hr>
			<p>We do not offer refunds on perishable items.</p>
			<p>Refunds will offer a refund at our discretion after reviewing the circumstances on non perishable items that are deemed to be defective.</p>
			<p>If you receive an incorrect or damaged item please notify us the same day! Contact us at <a href="mailto:help@grassy.ca">help@grassy.ca</a></p>
			<br>
			<h4><strong>Shipping</strong></h4>
			<hr>
			<p>To place a return please send your parcel to:</p>
			<p>Grassy Wellness Society</p>
			<p>c/o 8773</p>
			<p>200-375 Water St</p>
			<p>Vancouver BC V6B0M9</p>
			<small>It is a good idea to ask for a tracking number when you pay for your return shipping to make sure we receive it.</small>
		</div><!-- end -->		
	</div>
</div>

<%= render 'pages/footer' %>