<%= render 'layouts/slider' %>


<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Vancouver Medical Marijuana Dispensary</h1>
			<h3>Quality, purity, and a natural approach</h3>
		</div><!-- end col-md-12 -->
	</div><!-- end row -->

	<div class="row" style="margin-top: 40px;">
		<div class="col-md-6 col-md-offset-3">
			<div class="col-md-6 text-center">
				<a href="#" class="btn btn-info btn-lg btn-block"><i class="fa fa-heart" aria-hidden="true"></i> Learn More</a>
			</div>
			<div class="col-md-6 text-center">
				<a href="#" class="btn btn-success btn-lg btn-block"><i class="fa fa-users" aria-hidden="true"></i> Join the Society</a>
			</div>
		</div>
	</div><!-- end row -->

	<div class="row" style="margin-top: 60px;">
		<div class="col-md-12 text-center">
			<h4>The Med Pot Now Society was founded and registered as a non-profit society in April 2011. Our mission is to provide high-quality medical marijuana and cannabis products to legitimate patients in need. Our dispensary is located at 1316 Kingsway in Vancouver, BC Canada. If you live nearby, stop in to our Vancouver medical marijuana dispensary and speak with a representative about becoming a member today!</h4>
		</div><!-- end col-md-12 text-center -->
	</div>
</div><!-- end container -->




<%= render 'pages/footer' %>