<%= render 'layouts/slider' %>


<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Grassy Wellness Society</h1>
			<h3>Free to join</h3>
		</div><!-- end col-md-12 -->
	</div><!-- end row -->

	<div class="row" style="margin-top: 40px;">
		<div class="col-md-6 col-md-offset-3">
			<div class="col-md-6 text-center">
				<a href="#" class="btn btn-info btn-lg btn-block"><i class="fa fa-heart" aria-hidden="true"></i> Learn More</a>
			</div>
			<div class="col-md-6 text-center">
				<%= link_to new_user_registration_path, class: "btn btn-success btn-lg btn-block" do %>
					<i class="fa fa-users" aria-hidden="true"></i> Join the Society
				<% end %>
			</div>
		</div>
	</div><!-- end row -->

	<div class="row" style="margin-top: 60px;">
		<div class="col-md-7">
			<h3>About Us</h3>
			<hr>
			<h4>It’s simple… Grassy Wellness Society wants to ensure members have access and availability to safe, affordable cannabis products for medical purposes.</h4>
			<h4>Let’s face it, there is little or no choice for those that need medical marijuana as a way to live better lives.</h4>
			<h4>We operate a nonprofit society to help members in need. We work with licensed MMAR growers who take pride in what they do - and it shows!</h4>
			<h4>Our society is free to join, and we can deliver the same day, or ship for whatever it costs us.</h4>
			<h4>Stay in touch as we add more products.</h4>
		</div><!-- end col-md-7 -->
		<div class="col-md-5">
			<h3>Membership</h3>
			<hr>
			<h4>
				<ul>
					<li>It’s free to join.</li>
					<li>Not complicated.</li>
					<li>You must be at least 19 years old to join.</li>
					<li>We trust you. If you know you need medical marijuana to live a better life, we will help you.</li>
				</ul>
			</h4>
				
		</div>
	</div>
</div><!-- end container -->




<%= render 'pages/footer' %>