<div class="container">
	<div class="row">
		<h3><strong>Privacy Policy</strong></h3>
		<hr>
		<p><strong>Your privacy is important to us!</strong></p>
		<p>(If we decide to change this policy, we will post the changes on this page.)</p>
		<p>We are committed to protecting your personal information.</p>
		<p>In this policy, we are letting you know about the ways we collect and use your information, so you can make an informed choice regarding whether you will visit this website.</p>
		<p><strong>What Information Do We Collect?</strong></p>
		<p>We collect your name and email when you subscribe to our email newsletter.&nbsp; When you order a product on this site, we collect your name and email address, and Mailing Address.</p>
		<p>Your credit card information and/or banking account information is held by our payment processors.&nbsp; We do not have access to those credit card numbers&nbsp;&ndash; all details are held securely by the respective payment processor.&nbsp;</p>
		<p><strong>How Do We Use Your Information?</strong></p>
		<p>We use your name and email to send you periodic emails, including email newsletters and occasional business announcements and updates. If you buy a product, we use your email address to ship you the product. We may use your phone number and/or email to contact you about your order.</p>
		<p>We use cookies to help us remember and process the items in your shopping cart, and to compile aggregate data about site traffic and site interaction, so we can optimize our website and create a better user experience for you.</p>
		<p>How Do You Unsubscribe?</p>
		<p>If at any time you would like to unsubscribe &ndash; just say so!</p>
		<p>How Do We Protect Your Information?</p>
		<p>We use various security measures to maintain the safety of your personal information, including hosting your name and email using a password-protected, secure service called Sendgrid, which serves thousands of secure websites worldwide. This service keeps your information confidential, will not sell or share your information, and will not contact you directly.</p>
		<p>Our payment processors, store your private financial information (credit card numbers and banking account information) with your permission, as per their agreement with you.&nbsp; We do not have access to this information.</p>
		<p>We will not trade, share, or sell your information to anyone.</p>
		<p>We do not collect any information from anyone under 19 years of age.</p>
		<p>This website, products and services are not directed to people who are under 19 years of age.</p>
		<p>By using this site, you consent to the terms of this privacy policy.</p>
		<p>If we decide to change this policy, we will post the changes on this page.</p>
		<p>The last time this privacy policy was updated was June 15<sup>th</sup> 2016.&nbsp;</p>
		<p>If there are any questions or concerns regarding this privacy policy, please&nbsp;email us at <a href="mailto:hello@grassy.ca">hello@grassy.ca</a></p>
	</div>
</div>

<%= render 'pages/footer' %>