<h4 class="text-center"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Your Grassy Cart</h4>
<hr>
<table class="table table-hover">
	<%= render(cart.line_items) %>

	<tr class="total_line">
		<td colspan="2">Total <small>(+GST 5%)</small></td>
		<td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
	</tr>
</table>
<div class="row">
	<div class="col-md-6">
		<%= button_to new_order_path, class: "btn btn-primary btn-sm", method: :get do %>
			<i class="fa fa-credit-card-alt" aria-hidden="true"></i> Checkout
		<% end %>
	</div><!-- end col-md-6 -->
	<div class="col-md-6">
		<%= button_to cart, method: :delete, class: "btn btn-danger btn-sm", data: { confirm: 'Are you sure?' } do %>
			<i class="fa fa-trash" aria-hidden="true"></i> Empty Cart
		<% end %>
	</div><!-- end col-md-6 -->
</div><!-- end row -->
